<!DOCTYPE html>
{% extends 'quiz/base.html' %}
{% block page_title %}About us{% endblock %}
{% block body_content %}
    <div class="container mt-3">
        <h1>About us</h1>
        <h4>This website was created by Alexandr Doronin as an Internal Assessment in Computer Science Higher Level in the British International School, Ukraine.</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.4898766547644!2d30.544517715608972!3d50.41334387947032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf69c5255555%3A0x128ec546257f5b6c!2sThe%20British%20International%20School%20Ukraine%2C%20Pechersk!5e0!3m2!1sru!2sge!4v1647613281166!5m2!1sru!2sge" width="600" height="450" style="border:10px red solid;" allowfullscreen="" loading="lazy"></iframe>
    </div>
{% endblock %}