<!DOCTYPE html>
{% extends 'quiz/base.html' %}
{% block page_title %}Main{% endblock %}
{% block body_content %}
    <div class="container">
        <h1>Online quiz creator</h1>
        <h3>Using this website you can create your own quizes and share it with other people</h3>
    </div>

    <div id="quiz_list">
        <table class="table">
        <thead>
        <tr>
            <th>Sort By:</th>
            <th><a href="#" onclick="byLength()" style="text-decoration: none" class="btn btn-secondary">№ of questions</a><span id="img_length"></span></th>
            <th><a href="#" onclick="byPlays()" style="text-decoration: none" class="btn btn-secondary">№ of plays</a><span id="img_plays"></span></th>
            <th><a href="#" onclick="byTime()" style="text-decoration: none" class="btn btn-secondary">Publication date</a><span id="img_time"></span></th>
        </tr>
        </thead>
        <tbody>
            {% for quiz in quiz_time_descending %}
                <tr class="{% cycle 'bg-warning' 'bg-info' %}">
                    <td>
                        <a href="{% url 'quiz:play' quiz.0.id%}" style="text-decoration: none"><h3 class="text-danger card-title">{{ forloop.counter }}. {{ quiz.0.quiz_name }}</h3></a>
                        <a href="{% url 'quiz:profile' quiz.0.user.id%}" style="text-decoration: none"><h5>{{ quiz.0.user.username }}</h5></a>
                    </td>
                    <td><h3 class="mx-5">{{ quiz.3 }}</h3></td>
                    <td><h3 class="mx-5">{{ quiz.2 }}</h3></td>
                    <td><h3 class="mx-5">{{ quiz.1 }}</h3></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="container-fluid mt-3">
        <h3>Click on the interesting questionnaire</h3>
    </div>
<script>
let quiz_list_time = `<table class="table">
            <thead>
            <tr>
                <th>Sort By:</th>
                <th><a href="#" onclick="byLength()" style="text-decoration: none" class="btn btn-secondary">№ of questions</a></th>
                <th><a href="#" onclick="byPlays()" style="text-decoration: none" class="btn btn-secondary">№ of plays</a></th>
                <th><a href="#" onclick="byTime()" style="text-decoration: none" class="btn btn-secondary">Publication date</a></th>
            </tr>
            </thead>
            <tbody>
                {% for quiz in quiz_time_descending %}
                    <tr class="{% cycle 'bg-warning' 'bg-info' %}">
                        <td>
                            <a href="{% url 'quiz:play' quiz.0.id%}" style="text-decoration: none"><h3 class="text-danger card-title">{{ forloop.counter }}. {{ quiz.0.quiz_name }}</h3></a>
                            <a href="{% url 'quiz:profile' quiz.0.user.id%}" style="text-decoration: none"><h5>{{ quiz.0.user.username }}</h5></a>
                        </td>
                        <td><h3 class="mx-5">{{ quiz.3 }}</h3></td>
                        <td><h3 class="mx-5">{{ quiz.2 }}</h3></td>
                        <td><h3 class="mx-5">{{ quiz.1 }}</h3></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>`;
let quiz_list_length = `<table class="table">
                <thead>
                <tr>
                    <th>Sort By:</th>
                    <th><a href="#" onclick="byLength()" style="text-decoration: none" class="btn btn-secondary">№ of questions</a></th>
                    <th><a href="#" onclick="byPlays()" style="text-decoration: none" class="btn btn-secondary">№ of plays</a></th>
                    <th><a href="#" onclick="byTime()" style="text-decoration: none" class="btn btn-secondary">Publication date</a></th>
                </tr>
                </thead>
                <tbody>
                    {% for quiz in quiz_length_descending %}
                        <tr class="{% cycle 'bg-warning' 'bg-info' %}">
                            <td>
                                <a href="{% url 'quiz:play' quiz.0.id%}" style="text-decoration: none"><h3 class="text-danger card-title">{{ forloop.counter }}. {{ quiz.0.quiz_name }}</h3></a>
                                <a href="{% url 'quiz:profile' quiz.0.user.id%}" style="text-decoration: none"><h5>{{ quiz.0.user.username }}</h5></a>
                            </td>
                            <td><h3 class="mx-5">{{ quiz.3 }}</h3></td>
                            <td><h3 class="mx-5">{{ quiz.2 }}</h3></td>
                            <td><h3 class="mx-5">{{ quiz.1 }}</h3></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>`;
let quiz_list_plays = `<table class="table">
                <thead>
                <tr>
                    <th>Sort By:</th>
                    <th><a href="#" onclick="byLength()" style="text-decoration: none" class="btn btn-secondary">№ of questions</a></th>
                    <th><a href="#" onclick="byPlays()" style="text-decoration: none" class="btn btn-secondary">№ of plays</a></th>
                    <th><a href="#" onclick="byTime()" style="text-decoration: none" class="btn btn-secondary">Publication date</a></th>
                </tr>
                </thead>
                <tbody>
                    {% for quiz in quiz_plays_descending %}
                        <tr class="{% cycle 'bg-warning' 'bg-info' %}">
                            <td>
                                <a href="{% url 'quiz:play' quiz.0.id%}" style="text-decoration: none"><h3 class="text-danger card-title">{{ forloop.counter }}. {{ quiz.0.quiz_name }}</h3></a>
                                <a href="{% url 'quiz:profile' quiz.0.user.id%}" style="text-decoration: none"><h5>{{ quiz.0.user.username }}</h5></a>
                            </td>
                            <td><h3 class="mx-5">{{ quiz.3 }}</h3></td>
                            <td><h3 class="mx-5">{{ quiz.2 }}</h3></td>
                            <td><h3 class="mx-5">{{ quiz.1 }}</h3></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>`;

    function byTime() {
        document.getElementById("quiz_list").innerHTML = quiz_list_time;
    }

    function byLength() {
        document.getElementById("quiz_list").innerHTML = quiz_list_length;
    }

    function byPlays() {
        document.getElementById("quiz_list").innerHTML = quiz_list_plays;
    }
</script>
{% endblock %}