<!DOCTYPE html>
{% extends 'quiz/base.html' %}
{% block page_title %}Play{% endblock %}
{% block body_content %}
    <div class="container my-3">
        {% if user.is_authenticated %}
            <h1>{{ quiz.quiz_name }}</h1>
        <div id="question_list" class="jumbotron d-flex aligns-items-center justify-content-center">
            <form action="{% url 'quiz:result' quiz.id%}" method="post">
            {% csrf_token %}
                {% for question in question_list %}
                    <h2>{{ question.question_text }}</h2>
                    {% for answer in question.answer_set.all %}
                        <h3>
                        <input type="radio" name="answer{{ question.id }}" id="answer{{ question.id }}-{{ forloop.counter }}" value="{{ answer.id }}">
                        <label for="answer{{ question.id }}-{{ forloop.counter }}">{{ answer.answer_text }}</label><br></h3>
                    {% endfor %}
                {% endfor %}
            <input type="submit" value="Finish" class="btn btn-lg btn-success mt-3">
            </form>
        {% else %}
            <h1>Login firstly and then play :)</h1>
        {% endif %}
        </div>
    </div>
{% endblock %}